<div class="container">
  <p-toast></p-toast>
  <div class="form">
    <div
      [ngClass]="{ 'focus-on-input': isInputFocusedOrTyped }"
      class="sign-in-section"
    >
      <div class="d-flex justify-content-center">
        <img
          class="mb-2 logo"
          src="assets/img/CMS_RMS_logo-removebg.png"
          alt=""
        />
      </div>

      <p class="mt-2 fs-3">Payment Advisor</p>
      <p class="header text-1000 mb-3 display-2 fw-1 fs-4">Set New Password</p>

      <form #setPasswordForm="ngForm" (submit)="onSubmit()" ngNativeValidate>
        <div>
          <div class="form-group">
            <label for="password">New Password</label>
            <div class="input-group">
              <input
                #passwordHtml="ngModel"
                [(ngModel)]="newPassword"
                [type]="newPasswordType ? 'password' : 'text'"
                (focus)="showPasswordRules()"
                (blur)="hidePasswordRules()"
                (input)="updatePasswordRules()"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}"
                name="password"
                id="password"
                class="form-control"
                required
              />
            </div>

            <!-- input-group -->
            <div *ngIf="isPasswordFocused" class="password-rules">
              <p>
                <em> Your password must include: </em>
              </p>
              <ul class="mt-0">
                <li [ngClass]="{ valid: hasUppercase }">
                  <span></span>
                  An Uppercase Letter
                </li>
                <li [ngClass]="{ valid: hasLowercase }">
                  <span></span>
                  A Lowercase Letter
                </li>
                <li [ngClass]="{ valid: hasSpecialCharacter }">
                  <span></span>
                  A Special Character
                </li>
                <li [ngClass]="{ valid: hasMinLength }">
                  <span></span>
                  Minimum 8 Characters
                </li>
              </ul>
            </div>
            <p *ngIf="!passwordHtml.invalid" class="form-text text-success">
              <small>
                <i class="ri-shield-keyhole-line me-1 align-middle"></i>
                Strong
              </small>
            </p>
            <p
              *ngIf="
                passwordHtml.invalid &&
                passwordHtml.dirty &&
                passwordHtml.touched
              "
              class="form-text text-danger"
            >
              Please enter a valid password
            </p>
          </div>
          <!-- form-group -->

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
              <input
                #confirmPasswordHtml="ngModel"
                [(ngModel)]="confirmPassword"
                [type]="confirmPasswordType ? 'password' : 'text'"
                name="confirmPassword"
                id="confirmPassword"
                class="form-control"
                (focus)="onInputFocusOrTyping()"
                (blur)="onInputBlur()"
                required
              />

              <button
                (click)="confirmPasswordType = !confirmPasswordType"
                type="button"
                class="btn btn-outline-secondary"
              >
                <i
                  [ngClass]="
                    confirmPasswordType ? 'ri-eye-off-line' : 'ri-eye-line'
                  "
                ></i>
              </button>
            </div>
            <!-- input-group -->
            <p
              *ngIf="
                (confirmPasswordHtml.touched || newPassword !== '') &&
                confirmPassword !== newPassword
              "
              class="form-text text-danger"
            >
              Passwords do not match
            </p>
            <p
              *ngIf="showPasswordMatchesOldPasswordError"
              class="form-text text-danger text-start"
            >
              Please choose a new password that has not been used previously.
            </p>
          </div>
          <!-- form-group -->

          <div class="text-center mt-4">
            <button
              [disabled]="setPasswordForm.invalid || checkForm()"
              type="submit"
              class="btn btn-primary btn-block w-50 mb-1"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
      <!-- form -->
    </div>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
