<div class="container">
  <div class="form">
    <div
      [ngClass]="{ 'focus-on-input': isInputFocusedOrTyped }"
      class="sign-in-section"
    >
      <div class="d-flex justify-content-center">
        <img
          class="mb-2 logo"
          src="assets/img/CMS_RMS_logo-removebg.png"
          alt=""
        />
      </div>

      <p class="mt-2 fs-4">Fleet Management System</p>

      <p class="header text-1000 mb-4 display-2 fw-1 fs-5">Forgot Password?</p>

      <form #forgotPassword="ngForm" (submit)="onSubmit()" ngNativeValidate>
        <div>
          <div class="form-group">
            <label for="email">Employee Code</label>
            <input
              #email="ngModel"
              [(ngModel)]="this.forgotPasswordForm.employeecode"
              (focus)="onInputFocusOrTyping()"
              (blur)="onInputBlur()"
              (input)="onInputFocusOrTyping()"
              class="form-control"
              type="text"
              minlength="3"
              name="employeecode"
              id="employeecode"
              required
            />
            <p
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="form-text text-danger text-start"
            >
              Employee code is required
            </p>
            <p
              *ngIf="showInvalidCredentials"
              class="form-text text-danger text-start nowrap"
            >
              Invalid Employee Code. Please check your employee code.
            </p>
            <p
              *ngIf="showTooManyRequests"
              class="form-text text-danger text-start nowrap"
            >
              <em>Request limit exceeded:</em>
              Please retry after 1 minute.
            </p>
            <p
              *ngIf="showAccountBlocked"
              class="form-text text-danger text-start nowrap"
            >
              <em>Account Blocked:</em> Your account has been blocked for 15
              minutes due to multiple attempts.
            </p>
            <p
              *ngIf="showAccountInactive"
              class="form-text text-danger text-start nowrap"
            >
              <em>Account Inactive:</em> Kindly reach out to the administrator
              for further assistance.
            </p>
          </div>
        </div>
        <!-- group -->
        <div class="form-text text-end">
          <a
            routerLink="/auth/login"
            class="link-underline link-underline-opacity-0"
          >
            Back to Login
          </a>
        </div>
        <!-- form-text -->

        <div class="text-center mt-4">
          <button
            [disabled]="forgotPassword.invalid"
            type="submit"
            class="btn btn-primary btn-block w-50 mb-1"
          >
            Reset
          </button>
        </div>
        <!-- center -->
      </form>
      <!-- form -->
    </div>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
