<div class="card">
  <div class="container">
    <p-toast></p-toast>
    <p-table
      #dt
      [value]="vehicles"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [paginator]="true"
      [tableStyle]="{
        'white-space': 'nowrap',
        'font-family': 'Arial, sans-serif',
        'font-size': '14px',
        'border-collapse': 'collapse',
        overflow: 'hidden',
        'text-overflow': 'ellipsis'
      }"
      styleClass="p-datatable-sm nowrap"
      [globalFilterFields]="[
        'registration_No',
        'manufacturer',
        'model',
        'asset_Type',
        'active',
        'zone_Name',
        'branch_Name',
        'region_Name',
        'hub_Name'
      ]"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">Vehicle Master</h5>
          <div>
            <button
              pButton
              pRipple
              label="Add"
              icon="pi pi-plus"
              class="m-1 p-element p-button-success p-button p-component ng-star-inserted rounded-pill"
              (click)="router.navigateByUrl('bulk-upload/vehicle/add-vehicle')"
              rounded="true"
            ></button>
            <button
              pButton
              pRipple
              label="Bulk Upload"
              icon="pi pi-upload"
              class="m-1 p-element p-button-primary p-button p-component ng-star-inserted rounded-pill"
              (click)="toggleUploadDialog()"
              rounded="true"
            ></button>
            <span class="p-input-icon-left m-1">
              <i class="pi pi-search"></i>
              <input
                #searchInput
                pInputText
                type="text"
                (input)="dt.filterGlobal(searchInput.value, 'contains')"
                placeholder="Search..."
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th pSortableColumn="registration_No">
            Registration No <p-sortIcon field="registration_No"></p-sortIcon>
          </th>
          <!-- <th pSortableColumn="chassis_Number">
            Chassis No <p-sortIcon field="chassis_Number"></p-sortIcon>
          </th> -->
          <th pSortableColumn="manufacturer">
            Manufacturer <p-sortIcon field="manufacturer"></p-sortIcon>
          </th>
          <th pSortableColumn="model">
            Model <p-sortIcon field="model"></p-sortIcon>
          </th>
          <th pSortableColumn="current_Km_Run">
            Current KMs <p-sortIcon field="current_Km_Run"></p-sortIcon>
          </th>
          <th pSortableColumn="is_Vehicle_Offroad">
            Status <p-sortIcon field="is_Vehicle_Offroad"></p-sortIcon>
          </th>
          <th pSortableColumn="asset_type">
            Asset Type
            <p-sortIcon field="asset_type"></p-sortIcon>
          </th>
          <th pSortableColumn="active">
            Is Active <p-sortIcon field="active"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
        <tr>
          <td>
            <div
              class="d-flex flex-row justify-content-between align-items-center"
            >
              <button
                pButton
                pRipple
                class="p-button-rounded p-button-warning rounded-circle"
                icon="pi pi-pencil"
                (click)="editVehicle(vehicle.registration_No)"
                pTooltip="Edit Vehicle Details"
                tooltipPosition="bottom"
              ></button>
            </div>
          </td>
          <td>{{ vehicle.registration_No }}</td>
          <!-- <td>{{ vehicle.chassis_Number }}</td> -->
          <td>{{ vehicle.manufacturer }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ (vehicle.current_Km_Run | number) || "NA" }}</td>
          <td>
            <p-tag
              [severity]="
                vehicle.is_Vehicle_Offroad === 'TRUE' ? 'danger' : 'success'
              "
            >
              {{
                vehicle.is_Vehicle_Offroad === "TRUE" ? "Off Road" : "On Road"
              }}
            </p-tag>
          </td>
          <td>{{ vehicle.asset_type }}</td>
          <td>{{ vehicle.active }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="showUploadDialog"
  [style]="{ width: '450px' }"
  header="Upload Vehicle Master"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field form-group">
      <label for="name" class="form-label"
        >Select the file to be uploaded (.csv)*</label
      >
      <p-fileUpload
        name="file[]"
        customUpload="true"
        [files]="uploadedFiles"
        (onSelect)="showCSVDetails($event)"
        (onRemove)="clearUpload($event)"
        (onClear)="clearUpload($event)"
        (uploadHandler)="onUpload($event)"
        [showUploadButton]="isValidCSV && totalRecords! > 0"
        [multiple]="false"
        accept=".csv"
        maxFileSize="90000000"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
          <strong *ngIf="totalRecords">Total rows : {{ totalRecords }}</strong>
          <br />
          <span class="text-danger" *ngIf="totalRecords">{{
            estimateUploadTime(totalRecords!)
          }}</span>
          <p *ngIf="!totalRecords && !isValidCSV" class="text-danger">
            Invalid CSV file selected. Please ensure the file has the correct
            columns. You can download the Sample File for reference.
          </p>
          <p *ngIf="totalRecords == 0" class="text-danger">
            No records found. Please ensure the file has at least 1 record.
          </p>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col-auto">
        <button
          pButton
          severity="success"
          icon="pi pi-file-excel"
          label="Download Sample File"
          (click)="downloadSampleFile()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
<app-loader *ngIf="showLoader"></app-loader>
