<div class="container">
  <div class="form">
    <div
      [ngClass]="{ 'focus-on-input': isInputFocusedOrTyped }"
      class="sign-in-section"
    >
      <div class="d-flex justify-content-center">
        <img
          class="mb-2 logo"
          src="assets/img/CMS_RMS_logo-removebg.png"
          alt=""
        />
      </div>

      <p class="mt-2 fs-4">Fleet Management System</p>

      <!-- PrimeNG UI Template -->

      <!-- Ends -->

      <form #otp="ngForm" (submit)="onSubmit()" ngNativeValidate>
        <div>
          <div class="form-group">
            <div class="d-flex flex-column align-items-center">
              <div class="font-bold fs-5">Authenticate Your Account</div>
              <p class="text-color-secondary block mt-2">
                Please enter the code sent to your phone.
              </p>
            </div>
            <p-inputOtp
              #otp="ngModel"
              [(ngModel)]="otpForm.otp"
              name="otp"
              [length]="otpLength"
              style="gap: 0"
              (onChange)="autoSubmit()"
            >
              <ng-template
                pTemplate="input"
                let-token
                let-events="events"
                let-index="index"
              >
                <input
                  pInputText
                  type="text"
                  (focus)="onInputFocusOrTyping()"
                  (blur)="onInputBlur()"
                  class="form-control"
                  type="text"
                  id="otp"
                  [maxLength]="1"
                  (input)="events.input($event)"
                  (keydown)="events.keydown($event)"
                  [attr.value]="token"
                  class="custom-otp-input"
                  autofocus
                  required
                />
                <div *ngIf="index === 3" class="px-3">
                  <i class="pi pi-minus"></i>
                </div>
              </ng-template>
            </p-inputOtp>
            <p
              *ngIf="otp.invalid && (otp.dirty || otp.touched)"
              class="form-text text-danger text-start"
            >
              OTP is required
            </p>
            <p
              *ngIf="showAccountBlocked"
              class="form-text text-danger text-start nowrap"
            >
              <em>Account Blocked:</em> Your account has been blocked for 15
              minutes due to multiple incorrect attempts.
            </p>
            <p
              *ngIf="showIncorrectOTP"
              class="form-text text-danger text-start"
            >
              The One-Time Password (OTP) you entered is incorrect.
            </p>
            <p
              class="form-text text-success"
              *ngIf="!showIncorrectOTP && showOTPSent"
            >
              The One-Time Password (OTP) has been sent successfully.
            </p>
            <p *ngIf="showOTPExpired" class="form-text text-danger text-start">
              The One-Time Password (OTP) you entered has expired. Please
              request a new one by clicking on Resend Code.
            </p>
          </div>
          <!-- group -->

          <div class="d-flex flex-column align-items-center">
            <div class="d-flex justify-content-between mt-3 align-self-stretch">
              <button
                class="btn {{
                  isDisabled ? 'btn-secondary' : 'btn-warning'
                }} btn-block mb-1"
                type="button"
                (click)="resendOTP()"
                [disabled]="isDisabled"
              >
                Resend
                {{
                  isDisabled
                    ? (countdownMinutes | number : "2.0") +
                      ":" +
                      (countdownSeconds | number : "2.0")
                    : "Code"
                }}
              </button>
              <button
                [disabled]="otp.invalid"
                type="submit"
                class="btn btn-primary btn-block mb-1"
              >
                Submit Code
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- form -->
    </div>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
